.error {
    color: red;
  }

  .raw {
    font-family: georgia, "trebuchet ms", arial, serif;
  }

  #frontTitle {
      margin: 1em 0;
      text-align: center;
  }

  #newSignUp {
    margin-left: 5px;
  }
