<nav class="navbar navbar-default">
    <div class="container-fluid">
      <a routerLink="/sales" class="navbar-header">
        <img class="brand" style="max-width: 40px" src="https://image.noelshack.com/fichiers/2019/48/3/1574872466-logo.png" alt="logo">
      </a>
      <ul class="nav navbar-left">
        <li class="navFunction" routerLinkActive="active" style="cursor:pointer">
          <a routerLink="sales">Liste prochaine(s) Bourse(s)</a>
        </li>
      </ul>
      
  
      <ul class="nav navbar-right">
        <li *ngIf="currentUser" (click)="onPersonalSpace()" style="cursor:pointer"
           routerLink="#" class="navbar-text navbar-right" id="nameOnNav">{{currentUser.name}}  
        </li>
  
        <li class="navFunction" routerLinkActive="active" *ngIf="!currentUser"> <!-- user not authenticated-->
          <a routerLink="auth/signup">Créer un compte</a>
        </li>
      </ul>
      <ul class="nav navbar-right">
        <li class="navFunction" routerLinkActive="active" *ngIf="!currentUser"> <!-- user not authenticated-->
          <a routerLink="auth/signin">Connexion</a>
        </li>
        <li *ngIf="currentUser" (click)="onSignOut()"
             style="cursor:pointer"
             class="navbar-text navbar-right" id="logoutButton">Deconnexion 
        </li>
      </ul>
    </div>
  </nav>
  
