

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

#nbrResponse {
  float: right;
}

#popularity {
  float: left;
  margin-right: 10px;
}

#score {
  margin-left: 10px;
}

#displayForAndDate {
  font-size: 70%;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
  margin-bottom: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

.fond {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 25px;
}
.bouteille {
  position: absolute;
  top: 350px;
  left: 200px;
  width: 10%;
  height: auto;
}

