<div class="row">
  <div class="col-md-12">

    <div id="MainMenu" >
      <div *ngIf="displayRequest">
        <div class="list-group panel" *ngFor="let request of requestsList; let i = index">
          <div id="displayTheme" >{{request.themeName}}</div>
          <a href="#response" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
             <div id="displayRequest" (click)="showResponses(i)">{{request.request}}</div>
          </a>
        </div>
      </div>

      <div *ngIf="!displayRequest">
        <div id="displayRequestNameOnResponse">{{requestName}}</div>
        <div class="list-group-item" id="response" *ngFor="let response of responsesList; let i = index">
          <ul>
            <li>{{response.response}}</li>
          </ul>
        </div>
      </div>
  </div>
</div>







