#displayForAndDate {
  font-size: 70%;
}

#displayDate {
  float: right;
  font-size: 70%;
}

#popularity {
  float: left;
  margin-right: 10px;
}

#score {
  margin-left: 10px;
}

#response {
  margin-top: 20px;
}

#responseAreaLabel {
  font-size: 70%;
}

#requestName {
  font-size: 120%;
}
