.raw {
  font-family: georgia, "trebuchet ms", arial, serif;
}

.list-group-item {
  margin-bottom: 0px;
  margin-top: 0px;
}

#displayForAndDate {
  font-size: 70%;
}

#displayDate {
  float: right;
  font-size: 70%;
}

#popularity {
  float: left;
  margin-right: 10px;
}

#score {
  margin-left: 10px;
}

#response {
  margin-top: 20px;
}

#responseAreaLabel {
  font-size: 70%;
}

#requestName {
  font-size: 120%;
}

#modalForModerate {
  float: right;
}

#modalForcomment {
  float: right;
}

#deleteResponse {
  float: right;
  margin-left: 5px;
}

#moderateResponse {
  margin-right: -15px;
}


#buttonNewComment {
  margin-left: 5px;
  size: 60%;
  float: right;
}

.comments {
  list-style-type: none;
  padding: 0;
  width: 15em;
  position: relative;
  left: 55px;

}

.comments li {
  display:inline-block;
  position: relative;


  margin-top: 5px;
  padding: 0;
  height: 1.6em;
  border-radius: 4px;
}

#moderateComment {
  position: relative;
  top: -1px;
}

#deleteComment {
  position: relative;
  top: -1px;
  left: -15px;
}

#badgNbrComment {
  margin-left: 5px;
}

